<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="uk.ac.gla.uvnfc"
    android:versionCode="1"
    android:versionName="1.0" >

    <!--My code uses minSdk 14 and target 14, RL, Wed -->
    <uses-sdk
        android:minSdkVersion="7"
        android:targetSdkVersion="19" />


    <!-- NFC Hardware Permissions RL JL, Wed-->
    <uses-permission android:name="android.permission.NFC" />
    <uses-feature android:name="android.hardware.nfc" android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <!-- *****************MENU ACTIVITY*********************-->
        <activity
            android:name="uk.ac.gla.uvnfc.MenuActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <!-- *****************PROGRAM DEVICE ACTIVITY*********************-->
        <activity
            android:name="uk.ac.gla.uvnfc.ProgDeviceActivity"
            android:label="@string/title_activity_prog_device"
            android:parentActivityName="MenuActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="MenuActivity" />
        </activity>


        <!-- *****************QUERY DATABASE ACTIVITY*********************-->
        <activity
            android:name="uk.ac.gla.uvnfc.QueryActivity"
            android:label="@string/title_activity_query"
            android:parentActivityName="MenuActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="MenuActivity" />
        </activity>


        <!-- *****************DATABASE RESULT ACTIVITY*********************-->
        <activity
            android:name="uk.ac.gla.uvnfc.DBResultActivity"
            android:label="@string/title_activity_dbresult"
            android:parentActivityName="QueryActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="QueryActivity" />
        </activity>
        <activity
            android:name="uk.ac.gla.uvnfc.NFC_Activity"
            android:label="@string/title_activity_nfc_" >
        </activity>
    </application>


    <!-- !!!!!!!!!!!!!!!!PLACEHOLDER FOR NFC ACTIVITY!!!!!!!!!!!!!!!!!!!!!!


     Handles the intent created by an NFC device in proximity, and filters for our MIME type
    <intent-filter>
        <action android:name="android.nfc.action.NDEF_DISCOVERED"/>
        <data android:mimeType="application/uk.ac.gla.uvnfc"/>
        <category android:name="android.intent.category.DEFAULT"/>
    </intent-filter>
    !-->
</manifest>
