<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="uk.ac.gla.uvnfc"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />


    <!-- NFC Hardware Permissions RL JL, Wed-->
    <uses-permission android:name="android.permission.NFC" />
    <uses-feature android:name="android.hardware.nfc" android:required="true" />

    <!--Camera Hardware Permission -->
    <uses-feature android:name="android.permission.CAMERA"/>

    <!--Internet Camera Permission-->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <!-- *****************MENU ACTIVITY*********************-->
        <activity
            android:name="uk.ac.gla.uvnfc.MenuActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:configChanges="orientation" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <!-- *****************PROGRAM DEVICE ACTIVITY*********************-->
        <activity
            android:name="uk.ac.gla.uvnfc.ProgDeviceActivity"
            android:label="@string/title_activity_prog_device"
            android:parentActivityName="MenuActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="MenuActivity" />



        </activity>


        <!-- *****************QUERY DATABASE ACTIVITY*********************-->
        <activity
            android:name="uk.ac.gla.uvnfc.QueryActivity"
            android:label="@string/title_activity_query"
            android:parentActivityName="MenuActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="MenuActivity" />
        </activity>


        <!-- *****************DATABASE RESULT ACTIVITY*********************-->
        <activity
            android:name="uk.ac.gla.uvnfc.DBResultActivity"
            android:label="@string/title_activity_dbresult"
            android:parentActivityName="QueryActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="QueryActivity" />
        </activity>


        <activity
            android:name="uk.ac.gla.uvnfc.NFC_Activity"
            android:label="@string/title_activity_nfc_" >

            <intent-filter>
                <action android:name="android.nfc.action.NDEF_DISCOVERED"/>
                <data android:mimeType="application/uk.ac.gla.uvnfc"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <!-- *****************QR prog activity*********************-->
        <activity
            android:name=".QrProgClass"
            android:theme="@style/AppOverlayTheme"
            android:screenOrientation="portrait"
            android:configChanges="orientation">

        </activity>
        

    </application>

</manifest>
